.list-container {
  display: flex;
  flex-direction: column;

  &>div {
    width: 100%;
    flex-grow: 0;
  }

  div:nth-child(2) {
    flex-grow: 1;
    overflow: auto;
    box-shadow: inset 0 0 2px 2px #f0f0f0;
    & > div {
      height: 100%;
    }
  }
}

.ant-list-footer {
  text-align: center;
  font-size: 10px;
  color: grey;
  border: 1px solid #f0f0f0;

  .list-footer {
    margin: 0;
  }
}